ul.a {
    list-style-type: circle;
  }
  
  ul.b {
    list-style-type: square;
  }
  
  ol.c {
    list-style-type: upper-roman;
  }
  
  ol.d {
    list-style-type: lower-alpha;
  }
ul {
  list-style-image: url('sqpurple.gif');
  /* 用图片作为列表前的标记 */
}
ul.a {
    list-style-position: outside;
    /* 更改标记所在位置 */
  }
  
ul.b {
    list-style-position: inside;
  }

ul {
    list-style: square inside url("sqpurple.gif");
    /* 简写：type image position */
  }