selector::pseudo-element {
    property: value;
}
/* 伪元素的语法 */
p::first-line {
    color: #ff0000;
    font-variant: small-caps;
}
/* 段落中第一行 */
p.intro::first-letter {
    color: #ff0000;
    font-size: 200%;
  }
/* 段落中第一个字符 */
h1::before {
    content: url(smiley.gif);
}
/* before用于在元素前插入内容 */
h1::after {
    content: url(smiley.gif);
}
/* after用于在元素后插入内容 */
::marker {
    color: red;
    font-size: 23px;
  }
/* 对列表项前的标记进行改变   */
::selection {
    color: red;
    background: yellow;
  }
/* 改变用户选中部分 */